canvas {
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
}

#background {
	z-index: -1;
}

#selectionBoard {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background: #000;
	display: none; /* for demo */
}

#button-wrapper {
	width: 200px;
	margin: auto;
}

.player-button {
	padding: 10px;
	display: block;
	text-align: center;
	margin-bottom: 10px;
	cursor: pointer;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

}

/*** CONTROLS ***/

#controls {
	position: absolute;
	left: 700px;
}

.button {
	padding: 4px;
}

.button-img {
	width: 75px;
}

.button.selected {
	border: 3px solid #000;
}

